.card-about{
    width: 84%;
    margin: auto;
    margin-top: 7rem;
    text-align: center;
    min-height: 0px;
}

.header-title{
	font-size: 20px;
	font-weight: 400;
    margin-left: 10px;
    margin-bottom: 4px;
}